<ion-header>
  <top-nav [compOptions]="{'calledFrom': 'home'}"></top-nav>
</ion-header>

<ion-content padding>
  
  <div class="jumbotron">
    <h1 class="display-5">Ionic 4 / Angular 7!</h1>
    <p class="lead">
      Ionic Framework is an open source UI toolkit for building performant, high-quality mobile and desktop apps using web technologies (HTML, CSS, and JavaScript).
    </p>
    <hr class="my-4">
    <p>If you get lost, the documentation will be your guide.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="https://ionicframework.com/docs" target="_blank" role="button">Documentation</a>
    </p>
  </div>
  
</ion-content>
